---
const url = new URL(Astro.request.url);
const pathname = url.pathname;
const pages = [
  {
    name: 'home',
    path: '/',
  },
  {
    name: 'about',
    path: '/about',
  },
];
---

<nav>
  <header>
    <a href="/">
      Jordan Floyd
    </a>
  </header>
  <ul>
    {
      pages.map(page => (
        <li class={pathname === page.path ? "selected" : ""}>
          <a href={page.path} onmouseenter={`fetch('${page.path}')`}>
            {page.name}
          </a>
        </li>
      ))
    }
  </ul>
</nav>