:root {
  --primary-color: rgb(53, 163, 62);
  --primary-background: black;
  --secondary-background: rgb(37, 37, 37);
  --primary-text: rgb(231, 231, 231);
}

/*
:root {
  --primary-color: rgb(43, 128, 50);
  --primary-background: white;
  --secondary-background: rgb(245, 245, 245);
  --primary-text: black;
}
*/

html {
  font-size: 20px;
  font-family: 'Courier New', Courier, monospace;
}

body {
  margin: 0;
  background-color: var(--primary-background);
  color: var(--primary-text)
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid gray;
  background-color: var(--secondary-background);
  padding: 8px 32px;
}

nav header a {
  text-decoration: none;
  color: var(--primary-text);
  font-size: 26px;
}

nav header {
  font-family: "Monotype Corsiva", cursive;
}

nav ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  gap: 32px;
}

nav a {
  text-decoration: none;
  color: var(--primary-text);
}

nav a:hover {
  color: var(--primary-color);
}

nav .selected {
  font-weight: bold;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

article {
  max-width: 800px;
  line-height: 1.5;
  margin: 0 32px;
}

article a {
  color: var(--primary-color);
  text-decoration: none;
}

article a:hover {
  text-decoration: underline;
}